<template>
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
        <form id="contact-form" class="needs-validation" action="#" @submit.prevent="sendMessage" novalidate>
            <div class="form-row">
                <div class="col-sm-4">
                    <label for="nome" class="form-label">Nome: </label>
                    <input type="text" class="form-control" id="nome" name="nome" required v-model="fields.nome">
                    <div class="invalid-feedback">
                        Campo Obrigatório
                    </div>
                </div>
                <div class="col-sm-4">
                    <label for="email" class="form-label">E-mail: </label>
                    <input type="email" class="form-control" id="email" name="email" required v-model="fields.email"
                           placeholder="nome@email.com">
                    <div class="valid-feedback">Email válido</div>
                    <div class="invalid-feedback">E-mail inválido</div>
                </div>
                <div class="col-sm-4">
                    <label for="telefone" class="form-label">Telefone: </label>
                    <input type="text" class="form-control" id="telefone" name="telefone" required
                           v-model="fields.telefone" placeholder="(00) 0000-0000">
                    <div class="valid-feedback">Telefone válido</div>
                    <div class="invalid-feedback">Telefone inválido</div>
                </div>
                <div class="col-sm-12">
                    <label for="mensagem" class="form-label">Mensagem: </label>
                    <textarea class="form-control" id="mensagem" rows="3" name="mensagem" required
                              v-model="fields.mensagem"></textarea>
                    <div class="invalid-feedback">Campo Obrigatório</div>
                </div>
                <div class="col-sm-12">
                    <label for="arquivo" class="form-label">Arquivo: </label>
                    <div class="custom-file">
                        <input class="custom-file-input" type="file" id="arquivo" ref="file"
                               @change="onFileChange" name="arquivo" required
                               accept=".doc,.docx,.odt,application/msword,application/vnd.oasis.opendocument.text
                               application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/pdf,text/plain"/>
                        <label class="custom-file-label" for="arquivo">
                            {{ labelArquivo }}
                        </label>
                        <div class="alert alert-danger mt-2" role="alert" v-if="invalidFile">
                            <a href="#" class="alert-link">Arquivo inválido</a>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="my-4">

            <button class="w-100 btn btn-primary btn-lg" type="submit">Enviar Mensagem</button>
        </form>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    name: "index",
    data() {
        return {
            fields: {},
            invalidFile: false,
            labelArquivo: "Anexar Arquivo (pdf, doc, docx, odt ou txt)",
        }
    },
    mounted() {
        'use strict'
        window.addEventListener('load', function () {
            let form = document.getElementById('contact-form')
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }
                form.classList.add('was-validated')
            }, false)
        }, false);
    },
    methods: {
        onFileChange(e) {
            const file = e.target.files[0]
            if (file.type !== "application/msword" &&
                file.type !== "application/vnd.oasis.opendocument.text" &&
                file.type !== "application/vnd.openxmlformats-officedocument.wordprocessingml.document" &&
                file.type !== "application/pdf" &&
                file.type !== "text/plain") {
                this.invalidFile = true
                this.labelArquivo = "Anexar Arquivo (pdf, doc, docx, odt ou txt)"
                document.getElementsByClassName('custom-file-label')[0].style = "border-color: #e3342f"
            } else {
                this.invalidFile = false
                document.getElementsByClassName('custom-file-label')[0].style = "border-color: #38c172"
                this.labelArquivo = e.target.files[0].name
            }
        },
        sendMessage() {
            let form = document.getElementById('contact-form')
            if (form.checkValidity()) {
                this.fields.arquivo = this.saveFile(this.$refs.file.files[0])
                return
                axios.post(`message`, this.fields)
                    .then(({data}) => {
                        console.log(data)
                    })
                    .catch((error) => console.log(error))
            }
        },
        saveFile(file) {
            // see File Storage in laravel doc
        },
    }
}
</script>

<style scoped>
.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Buscar";
}
</style>
